<h1>Seja Bem-vindo</h1>
<p>O idioma usado nessa aplicação é: <strong>  <%= t('actual_locale') %> </p> </strong>
<p> <strong>Data:</strong> <%= l(Date.today) %><p>
<p><%= t('hello')%> </p>

<%= render "menu" %>

<p>
    Você esta em ambiente de <strong> <%= ambiente_rails%> </strong>
</p>

<p>
   Sou uma variável de instância/sessão:<strong> <%=@meu_nome%></strong>
</p>

<p>
  Meu curso e: <%=@curso%>
</p>