<h1>Seja Bem-vindo</h1>
<p> <strong>Data:</strong> <%=data_br(Date.today)%><p>

<ul> 
    
    <li>
        <%= link_to "Cadastro de moedas", coins_path %>
    </li>


</ul>
<p>
    Você esta em ambiente de <strong> <%= ambiente_rails%> </strong>
</p>
<p>
   Sou uma variável de instância/sessão:<strong> <%=@meu_nome%></strong>
</p>
<p>
  Meu curso e: <%=@curso%>
</p>